*{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .board{
        height: 700px;
        border-radius: 30px;
        width: 800px;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        margin-top: 40px;
        // gap: 15px;
        background-color: #87a756;
    }
}