#front {
    max-width: 200px;
    margin: 10px;
    height: 200px;
    background-color: beige;
    border: none;
    &:hover{
        cursor: pointer;
    }
}

#back{
    max-width: 200px;
    margin: 10px;
    height: 200px;
    background-color: green;
    border: none;
    &:hover{
        cursor: pointer;
    } 
}
