.front {
    font-family: Georgia, serif;
    font-size: 18px;
    border-radius: 30px;
    max-width: 200px;
    margin: 10px;
    height: 200px;
    background-color: white;
    border: none;
    &:hover{
        cursor: pointer;
    }
}

.back{
    font-family: Georgia, serif;
    font-size: 18px;
    border-radius: 30px;
    max-width: 200px;
    margin: 10px;
    height: 200px;
    background-color: rgb(143, 121, 74);
    border: none;
    &:hover{
        cursor: pointer;
    } 
}
