.card{
    width: 60%;
    text-align: center;
    

    .front {
        width: 250px;
        margin: 10px;
        height: 250px;
        background-color: pink;
        border: solid 1px black;
    
    }

    .back{
        width: 250px;
        margin: 10px;
        height: 250px;
        background-color: orange;
        border: solid 1px black;
    }
    
    button:hover{
        cursor: pointer;
    }
}
