.login-container {
  height: 340px;
  width: 450px;
  background-color: #ffffff;

  .input-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .input {
      align-items: initial;
      margin-left: initial;
      margin-right: initial;
    }

    .items {
      margin-bottom: 20px;
    }

    .button {
      width: 300px;
      height: 40px;
      background-color: rgb(49, 165, 49);
      border-radius: 4px;
      border: none;
      font-size: 16px;
      color: white;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }
}
