.list-box {
  ul {
    .list {
      list-style-type: decimal;
      margin-bottom: 30px;

      .text-box {
        display: inline-block;
        width: 350px;
        text-align: left;

        .input {
          width: 250px;
          height: 30px;
          border-radius: 10px;
          border: 2px gray solid;
        }
      }

      .edit-button {
        display: inline-block;
        margin-right: 10px;

        &:hover {
          background-color: rgba(190, 190, 179, 0.808);
        }
      }

      .delete-button {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: beige;
        border: none;
        border-radius: 7px;
        box-shadow: rgb(109, 108, 108) 3px 3px 7px 0px;

        &:hover {
          background-color: rgba(190, 190, 179, 0.808);
          cursor: pointer;
        }
      }
    }
  }
}
