.board {
  height: 700px;
  border-radius: 30px;
  width: 720px;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  margin-top: 15px;
  background-color: #87a756;
}

@media (max-width: 600px) {
  .board {
    height: 565px;
    border-radius: 30px;
    width: 495px;
    display: grid;
    grid-template-columns: 165px 165px 165px;
  }
}
