.edit-page {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .edit-container {
    height: 650px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;

    .h2-box {
      width: 500px;
      height: 80px;

      h2 {
        float: left;
        margin-left: 30px;
        color: rgb(88, 84, 84);
      }

      .done-button{
        float: right;
        margin: 19.92px 30px 19.92px 0px;
        width: 50px;
        height: 37px;
        font-size: 15px;
        background-color: rgba(114, 173, 175, 0.767);
        border-radius: 7px;
        color: white;
        border: none;
        box-shadow: rgb(109, 108, 108) 1px 2px 4px 0px;
      }
    }
  }
}
